// Fonts
$font-default: 'Open Sans', sans-serif;

// Colours
$pink: #eb008b;
$light-grey: #666666;
$dark-grey: #323232;

// Grid settings
$grid-width: 1200px;
$grid-columns: 12;
$grid-gutter: 20px;
$grid-generate: true;
$grid-column-prefix: 'column-';
$grid-row-prefix: 'row';
$grid-push-prefix: 'push-';

// Responsive sizes
$phone: '(min-width: 480px)';
$tablet: '(min-width: 768px)';
$laptop: '(min-width: 960px)';
$desktop: '(min-width: 1200px)';