/* Front page */
/* Header */
.header {
  width: 100%;
  height: 40px;
  background: #333; }
  .header .top {
    width: 1226px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto; }
    .header .top .left ul li {
      float: left;
      font-size: 1.2rem;
      color: #ccc; }
      .header .top .left ul li a {
        display: block;
        padding: 0 8px;
        font-size: 1.2rem;
        color: #b0b0b0; }
        .header .top .left ul li a:hover {
          color: #fff; }
    .header .top .right ul li {
      float: left;
      font-size: 1.2rem;
      color: #ccc; }
      .header .top .right ul li a {
        display: block;
        padding: 0 8px;
        font-size: 1.2rem;
        color: #b0b0b0; }
        .header .top .right ul li a:hover {
          color: #fff; }
    .header .top .right .gouwuche {
      margin: 0 20px;
      width: 120px;
      text-align: center;
      font-size: 1.2rem;
      cursor: pointer; }
      .header .top .right .gouwuche .cart-mini {
        position: relative;
        z-index: 32;
        display: block;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #b0b0b0;
        background: #424242; }
        .header .top .right .gouwuche .cart-mini:hover {
          color: #ff6700;
          background: #fff; }

/* Site header */
.site-header {
  position: relative;
  z-index: 20;
  height: 100px;
  width: 1226px;
  margin: 0 auto;
  color: #333;
  line-height: 100px; }
  .site-header .header-logo {
    float: left;
    width: 62px;
    margin-top: 22px; }
    .site-header .header-logo .logo::before {
      background: url("/images/icons/icon-mi-logo.png") no-repeat 50% 50%;
      opacity: 1;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: 55px;
      height: 55px;
      content: ''; }
    .site-header .header-logo .logo {
      position: relative;
      display: block;
      width: 55px;
      height: 55px;
      overflow: hidden;
      background-color: #ff6700; }
  .site-header .header-nav {
    float: left;
    width: 850px; }
    .site-header .header-nav .nav-list {
      position: relative;
      z-index: 10;
      float: left;
      width: 820px;
      height: 88px;
      margin: 0;
      padding: 0 0 0 150px;
      list-style-type: none;
      font-size: 1.6rem; }
      .site-header .header-nav .nav-list .nav-category {
        position: relative;
        float: left;
        width: 127px;
        padding-right: 15px; }
        .site-header .header-nav .nav-list .nav-category .site-category {
          position: absolute;
          top: 100px;
          left: -212px;
          z-index: 21;
          width: 234px;
          height: 460px;
          font-size: 1.4rem; }
          .site-header .header-nav .nav-list .nav-category .site-category .site-category-list {
            height: 460px;
            border: 0;
            color: #fff;
            background: rgba(0, 0, 0, 0.6);
            margin: 0;
            padding: 20px 0;
            list-style-type: none; }
            .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .title {
              color: #fff;
              position: relative;
              display: block;
              padding-left: 30px;
              height: 40px;
              line-height: 42px; }
            .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .children {
              display: none;
              position: absolute;
              left: 234px;
              top: 0;
              z-index: 24;
              height: 458px;
              border: 1px solid #e0e0e0;
              border-left: 0;
              background: #fff;
              box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18); }
              .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .children .children-list {
                height: 458px;
                margin: 0;
                padding: 2px 0;
                list-style-type: none; }
                .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .children .children-list li {
                  position: relative;
                  float: left;
                  width: 265px;
                  height: 76px; }
                .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .children .children-list img {
                  width: 40px;
                  height: 40px; }
                .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .children .children-list .link {
                  display: block;
                  padding: 18px 20px;
                  line-height: 40px;
                  color: #333; }
                .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .children .children-list .thumb {
                  margin-right: 12px;
                  vertical-align: middle; }
                .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .children .children-list .text {
                  line-height: 40px; }
              .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .children .children-list-col {
                float: left;
                width: 265px; }
            .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .category-item a:hover {
              background: #ff6700; }
            .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .category-item a:hover + .children {
              display: block; }
            .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .children:hover {
              display: block; }
      .site-header .header-nav .nav-list .nav-item {
        float: left;
        margin: 0 10px; }
  .site-header .header-search {
    float: right;
    width: 296px; }
    .site-header .header-search .search-form {
      position: relative;
      width: 296px;
      height: 50px; }
      .site-header .header-search .search-form .search-text {
        position: absolute;
        top: 20px;
        right: 51px;
        z-index: 1;
        width: 223px;
        height: 48px;
        border: 1px solid #e0e0e0;
        font-size: 1.4rem;
        line-height: 48px;
        outline: 0;
        transition: all .2s; }
      .site-header .header-search .search-form .search-btn {
        position: absolute;
        top: 20px;
        right: 0;
        z-index: 2;
        width: 52px;
        height: 50px;
        border: 1px solid #e0e0e0;
        font-size: 2.4rem;
        line-height: 24px;
        background: #fff;
        color: #616161;
        outline: 0;
        transition: all .2s; }
      .site-header .header-search .search-form .search-btn:hover {
        background: #ff6700;
        color: #fff; }

.home-hero {
  position: relative;
  z-index: 10;
  width: 1226px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px; }
  .home-hero .slide {
    display: none; }
  .home-hero .home-hero-slider {
    /* Position the "next button" to the right */
    /* On hover, add a black background color with a little bit see-through */
    /* The dots/bullets/indicators */
    /* Fading animation */
    /* On smaller screens, decrease text size */ }
    .home-hero .home-hero-slider .prev {
      left: 240px;
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 1.8rem;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0; }
    .home-hero .home-hero-slider .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 1.8rem;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0; }
    .home-hero .home-hero-slider .next {
      right: 0;
      border-radius: 3px 0 0 3px; }
    .home-hero .home-hero-slider .prev:hover, .home-hero .home-hero-slider .next:hover {
      background-color: rgba(0, 0, 0, 0.8); }
    .home-hero .home-hero-slider .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s; }
@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
    @media only screen and (max-width: 300px) {
      .home-hero .home-hero-slider .prev, .home-hero .home-hero-slider .next, .home-hero .home-hero-slider .text {
        font-size: 11px; } }
  .home-hero .ui-controls .ui-pager {
    position: absolute;
    bottom: 40px;
    display: block;
    left: auto;
    right: 30px;
    width: 400px;
    text-align: right;
    font-size: 1.2rem;
    color: #666;
    z-index: 999; }
  .home-hero .ui-controls .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }
  .home-hero .ui-controls .active, .home-hero .ui-controls .dot:hover {
    background-color: #717171; }

/*# sourceMappingURL=_front.css.map */
