/* Front page */
/* Header */
.header {
  width: 100%;
  height: 40px;
  background: #333; }
  .header .top {
    width: 1226px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto; }
    .header .top .left ul li {
      float: left;
      font-size: 1.2rem;
      color: #ccc; }
      .header .top .left ul li a {
        display: block;
        padding: 0 8px;
        font-size: 1.2rem;
        color: #b0b0b0; }
        .header .top .left ul li a:hover {
          color: #fff; }
    .header .top .right ul li {
      float: left;
      font-size: 1.2rem;
      color: #ccc; }
      .header .top .right ul li a {
        display: block;
        padding: 0 8px;
        font-size: 1.2rem;
        color: #b0b0b0; }
        .header .top .right ul li a:hover {
          color: #fff; }
    .header .top .right .gouwuche {
      margin: 0 20px;
      width: 120px;
      text-align: center;
      font-size: 1.2rem;
      cursor: pointer; }
      .header .top .right .gouwuche .cart-mini {
        position: relative;
        z-index: 32;
        display: block;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #b0b0b0;
        background: #424242; }
        .header .top .right .gouwuche .cart-mini:hover {
          color: #ff6700;
          background: #fff; }

/* Site header */
.site-header {
  position: relative;
  z-index: 20;
  height: 100px;
  width: 1226px;
  margin: 0 auto;
  color: #333;
  line-height: 100px; }
  .site-header .header-logo {
    float: left;
    width: 62px;
    margin-top: 22px; }
    .site-header .header-logo .logo::before {
      background: url("/images/icons/icon-mi-logo.png") no-repeat 50% 50%;
      opacity: 1;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: 55px;
      height: 55px;
      content: ''; }
    .site-header .header-logo .logo {
      position: relative;
      display: block;
      width: 55px;
      height: 55px;
      overflow: hidden;
      background-color: #ff6700; }
  .site-header .header-nav {
    float: left;
    width: 850px; }
    .site-header .header-nav .nav-list {
      position: relative;
      z-index: 10;
      float: left;
      width: 820px;
      height: 88px;
      margin: 0;
      padding: 0 0 0 150px;
      list-style-type: none;
      font-size: 1.6rem; }
      .site-header .header-nav .nav-list .nav-item {
        float: left;
        margin: 0 10px; }
  .site-header .header-search {
    float: right;
    width: 296px; }
    .site-header .header-search .search-form {
      position: relative;
      width: 296px;
      height: 50px; }
      .site-header .header-search .search-form .search-text {
        position: absolute;
        top: 20px;
        right: 51px;
        z-index: 1;
        width: 223px;
        height: 48px;
        border: 1px solid #e0e0e0;
        font-size: 1.4rem;
        line-height: 48px;
        outline: 0;
        transition: all .2s; }
      .site-header .header-search .search-form .search-btn {
        position: absolute;
        top: 20px;
        right: 0;
        z-index: 2;
        width: 52px;
        height: 50px;
        border: 1px solid #e0e0e0;
        font-size: 2.4rem;
        line-height: 24px;
        background: #fff;
        color: #616161;
        outline: 0;
        transition: all .2s; }
      .site-header .header-search .search-form .search-btn:hover {
        background: #ff6700;
        color: #fff; }

/*# sourceMappingURL=_front.css.map */
