/* Front page */
/* Header */
.header {
  width: 100%;
  height: 40px;
  background: #333; }
  .header .top {
    width: 1226px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto; }
    .header .top .left ul li {
      float: left;
      font-size: 1.2rem;
      color: #ccc; }
      .header .top .left ul li a {
        display: block;
        padding: 0 8px;
        font-size: 1.2rem;
        color: #b0b0b0; }
        .header .top .left ul li a:hover {
          color: #fff; }
    .header .top .right ul li {
      float: left;
      font-size: 1.2rem;
      color: #ccc; }
      .header .top .right ul li a {
        display: block;
        padding: 0 8px;
        font-size: 1.2rem;
        color: #b0b0b0; }
        .header .top .right ul li a:hover {
          color: #fff; }
    .header .top .right .gouwuche {
      margin: 0 20px;
      width: 120px;
      text-align: center;
      font-size: 1.2rem;
      cursor: pointer; }
      .header .top .right .gouwuche .cart-mini {
        position: relative;
        z-index: 32;
        display: block;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #b0b0b0;
        background: #424242; }
        .header .top .right .gouwuche .cart-mini:hover {
          color: #ff6700;
          background: #fff; }

/* Site header */
.site-header {
  position: relative;
  z-index: 20;
  height: 100px;
  width: 1226px;
  margin: 0 auto;
  color: #333;
  line-height: 100px; }
  .site-header .header-logo {
    float: left;
    width: 62px;
    margin-top: 22px; }
    .site-header .header-logo .logo::before {
      background: url("/images/icons/icon-mi-logo.png") no-repeat 50% 50%;
      opacity: 1;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      width: 55px;
      height: 55px;
      content: ''; }
    .site-header .header-logo .logo {
      position: relative;
      display: block;
      width: 55px;
      height: 55px;
      overflow: hidden;
      background-color: #ff6700; }
  .site-header .header-nav {
    float: left;
    width: 850px; }
    .site-header .header-nav .nav-list {
      position: relative;
      z-index: 10;
      float: left;
      width: 820px;
      height: 88px;
      margin: 0;
      padding: 0 0 0 150px;
      list-style-type: none;
      font-size: 1.6rem; }
      .site-header .header-nav .nav-list .nav-category {
        position: relative;
        float: left;
        width: 127px;
        padding-right: 15px; }
        .site-header .header-nav .nav-list .nav-category .site-category {
          position: absolute;
          top: 100px;
          left: -212px;
          z-index: 21;
          width: 234px;
          height: 460px;
          font-size: 1.4rem; }
          .site-header .header-nav .nav-list .nav-category .site-category .site-category-list {
            height: 460px;
            border: 0;
            color: #fff;
            background: rgba(0, 0, 0, 0.6);
            margin: 0;
            padding: 20px 0;
            list-style-type: none; }
            .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .title {
              color: #fff;
              position: relative;
              display: block;
              padding-left: 30px;
              height: 40px;
              line-height: 42px; }
            .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .children {
              display: none;
              position: absolute;
              left: 234px;
              top: 0;
              z-index: 24;
              height: 458px;
              border: 1px solid #e0e0e0;
              border-left: 0;
              background: #fff;
              box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18); }
              .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .children .children-list {
                height: 458px;
                margin: 0;
                padding: 2px 0;
                list-style-type: none; }
                .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .children .children-list li {
                  position: relative;
                  float: left;
                  width: 265px;
                  height: 76px; }
                .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .children .children-list img {
                  width: 40px;
                  height: 40px; }
                .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .children .children-list .link {
                  display: block;
                  padding: 18px 20px;
                  line-height: 40px;
                  color: #333; }
                .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .children .children-list .thumb {
                  margin-right: 12px;
                  vertical-align: middle; }
                .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .children .children-list .text {
                  line-height: 40px; }
              .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .children .children-list-col {
                float: left;
                width: 265px; }
            .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .category-item a:hover {
              background: #ff6700; }
            .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .category-item a:hover + .children {
              display: block; }
            .site-header .header-nav .nav-list .nav-category .site-category .site-category-list .children:hover {
              display: block; }
      .site-header .header-nav .nav-list .nav-item {
        float: left;
        margin: 0 10px; }
  .site-header .header-search {
    float: right;
    width: 296px; }
    .site-header .header-search .search-form {
      position: relative;
      width: 296px;
      height: 50px; }
      .site-header .header-search .search-form .search-text {
        position: absolute;
        top: 20px;
        right: 51px;
        z-index: 1;
        width: 223px;
        height: 48px;
        border: 1px solid #e0e0e0;
        font-size: 1.4rem;
        line-height: 48px;
        outline: 0;
        transition: all .2s; }
      .site-header .header-search .search-form .search-btn {
        position: absolute;
        top: 20px;
        right: 0;
        z-index: 2;
        width: 52px;
        height: 50px;
        border: 1px solid #e0e0e0;
        font-size: 2.4rem;
        line-height: 24px;
        background: #fff;
        color: #616161;
        outline: 0;
        transition: all .2s; }
      .site-header .header-search .search-form .search-btn:hover {
        background: #ff6700;
        color: #fff; }

.home-hero {
  position: relative;
  z-index: 10;
  width: 1226px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 26px; }
  .home-hero .slide {
    display: none; }
  .home-hero .home-hero-slider .ui-wrapper {
    max-width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    /* Position the "next button" to the right */
    /* On hover, add a black background color with a little bit see-through */
    /* The dots/bullets/indicators */
    /* Fading animation */
    /* On smaller screens, decrease text size */ }
    .home-hero .home-hero-slider .ui-wrapper .prev {
      left: 240px;
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 1.8rem;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0; }
    .home-hero .home-hero-slider .ui-wrapper .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 1.8rem;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0; }
    .home-hero .home-hero-slider .ui-wrapper .next {
      right: 0;
      border-radius: 3px 0 0 3px; }
    .home-hero .home-hero-slider .ui-wrapper .prev:hover, .home-hero .home-hero-slider .ui-wrapper .next:hover {
      background-color: rgba(0, 0, 0, 0.8); }
    .home-hero .home-hero-slider .ui-wrapper .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s; }
@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
    @media only screen and (max-width: 300px) {
      .home-hero .home-hero-slider .ui-wrapper .prev, .home-hero .home-hero-slider .ui-wrapper .next, .home-hero .home-hero-slider .ui-wrapper .text {
        font-size: 11px; } }
    .home-hero .home-hero-slider .ui-wrapper .ui-pager {
      position: absolute;
      bottom: 20px;
      display: block;
      left: auto;
      right: 30px;
      width: 400px;
      text-align: right;
      font-size: 1.2rem;
      color: #666;
      z-index: 999; }
    .home-hero .home-hero-slider .ui-wrapper .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease; }
    .home-hero .home-hero-slider .ui-wrapper .active, .home-hero .home-hero-slider .ui-wrapper .dot:hover {
      background-color: #717171; }
  .home-hero .home-hero-sub {
    margin-top: 14px; }
    .home-hero .home-hero-sub .span4 {
      width: 234px; }
      .home-hero .home-hero-sub .span4 .home-channel-list {
        margin: 0;
        padding: 3px;
        list-style-type: none;
        font-size: 1.2rem;
        text-align: center;
        background: #5f5750;
        height: 170px; }
        .home-hero .home-hero-sub .span4 .home-channel-list li {
          position: relative;
          float: left;
          width: 70px;
          height: 82px;
          padding: 0 3px; }
        .home-hero .home-hero-sub .span4 .home-channel-list li.top:before {
          display: none; }
        .home-hero .home-hero-sub .span4 .home-channel-list li:before {
          top: -1px;
          left: 6px;
          width: 64px;
          height: 1px; }
        .home-hero .home-hero-sub .span4 .home-channel-list li:before, .home-hero .home-hero-sub .span4 .home-channel-list li:after {
          position: absolute;
          content: "";
          background: #665e57; }
        .home-hero .home-hero-sub .span4 .home-channel-list li.left:after {
          display: none; }
        .home-hero .home-hero-sub .span4 .home-channel-list li:after {
          top: 6px;
          left: 0;
          width: 1px;
          height: 70px; }
        .home-hero .home-hero-sub .span4 .home-channel-list a {
          display: block;
          padding-top: 18px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          color: rgba(255, 255, 255, 0.7);
          transition: color .2s; }
        .home-hero .home-hero-sub .span4 .home-channel-list i {
          display: block;
          height: 24px;
          margin-bottom: 4px;
          font-size: 2.4rem;
          line-height: 24px; }
    .home-hero .home-hero-sub .span16 {
      width: 978px; }
      .home-hero .home-hero-sub .span16 .home-promo-list {
        margin: 0;
        padding: 0;
        list-style-type: none; }
        .home-hero .home-hero-sub .span16 .home-promo-list li {
          float: left;
          width: 316px;
          height: 170px;
          margin-left: 15px;
          transition: box-shadow .2s linear; }
        .home-hero .home-hero-sub .span16 .home-promo-list li.first {
          margin-left: 0; }
  .home-hero .row1 {
    margin-left: -14px; }
  .home-hero .row1:before {
    content: " ";
    display: table; }
  .home-hero .row1:after {
    clear: both; }
  .home-hero .row1:before, .home-hero .row1:after {
    content: " ";
    display: table; }
  .home-hero .home-star-goods .xm-plain-box .box-hd {
    position: relative;
    height: 58px; }
    .home-hero .home-star-goods .xm-plain-box .box-hd .title {
      margin: 0;
      font-size: 2.2rem;
      font-weight: 200;
      line-height: 58px;
      color: #333; }
    .home-hero .home-star-goods .xm-plain-box .box-hd .more {
      position: absolute;
      right: 0;
      top: 24px; }
      .home-hero .home-star-goods .xm-plain-box .box-hd .more .xm-controls .control {
        display: inline-block;
        text-align: center;
        color: #b0b0b0;
        -webkit-transition: color .5s;
        transition: color .5s; }
      .home-hero .home-star-goods .xm-plain-box .box-hd .more .xm-controls-line-small .control {
        width: 36px;
        height: 24px;
        padding: 3px 5px;
        border: 1px solid #e0e0e0;
        font-size: 16px;
        line-height: 16px; }
  .home-hero .home-star-goods .xm-plain-box .box-bd {
    position: relative;
    width: 1226px;
    padding-bottom: 40px; }
    .home-hero .home-star-goods .xm-plain-box .box-bd .xm-carousel-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 1240px;
      height: 340px; }
      .home-hero .home-star-goods .xm-plain-box .box-bd .xm-carousel-list li {
        margin-right: 14px;
        float: left;
        width: 234px; }
    .home-hero .home-star-goods .xm-plain-box .box-bd .goods-list li {
      height: 300px;
      padding-top: 39px;
      border-top-width: 1px;
      border-top-style: solid;
      text-align: center;
      background: #fafafa;
      transition: all .6s; }
    .home-hero .home-star-goods .xm-plain-box .box-bd .goods-list .thumb {
      display: block;
      width: 160px;
      margin: 0 auto 22px; }
      .home-hero .home-star-goods .xm-plain-box .box-bd .goods-list .thumb img {
        width: 160px;
        height: 160px; }
    .home-hero .home-star-goods .xm-plain-box .box-bd .goods-list .title {
      margin: 0 20px 3px;
      font-size: 1.4rem;
      font-weight: 400;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
    .home-hero .home-star-goods .xm-plain-box .box-bd .goods-list .desc {
      height: 18px;
      margin: 0 20px 12px;
      font-size: 1.2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      _zoom: 1;
      color: #b0b0b0; }
    .home-hero .home-star-goods .xm-plain-box .box-bd .goods-list .price {
      margin: 0;
      color: #ff6709; }
    .home-hero .home-star-goods .xm-plain-box .box-bd .rainbow-list .rainbow-item-1 {
      border-top-color: #ffac13; }
    .home-hero .home-star-goods .xm-plain-box .box-bd .rainbow-list .rainbow-item-2 {
      border-top-color: #83c44e; }
    .home-hero .home-star-goods .xm-plain-box .box-bd .rainbow-list .rainbow-item-3 {
      border-top-color: #2196f3; }
    .home-hero .home-star-goods .xm-plain-box .box-bd .rainbow-list .rainbow-item-4 {
      border-top-color: #e53935; }
    .home-hero .home-star-goods .xm-plain-box .box-bd .rainbow-list .rainbow-item-5 {
      border-top-color: #00c0a5; }
    .home-hero .home-star-goods .xm-plain-box .box-bd .rainbow-list .rainbow-item-6 {
      border-top-color: #ffac13; }
    .home-hero .home-star-goods .xm-plain-box .box-bd .rainbow-list .rainbow-item-7 {
      border-top-color: #83c44e; }
    .home-hero .home-star-goods .xm-plain-box .box-bd .rainbow-list .rainbow-item-8 {
      border-top-color: #2196f3; }
    .home-hero .home-star-goods .xm-plain-box .box-bd .rainbow-list .rainbow-item-9 {
      border-top-color: #e53935; }
    .home-hero .home-star-goods .xm-plain-box .box-bd .rainbow-list .rainbow-item-10 {
      border-top-color: #00c0a5; }
    .home-hero .home-star-goods .xm-plain-box .box-bd .xm-carousel-col-5-list li {
      float: left;
      width: 234px; }

/* page main */
.page-main {
  padding-top: 600px;
  background: #f5f5f5; }

/* container */
.container:before, .container:after {
  content: " ";
  display: table; }

.container {
  width: 1226px;
  margin-right: auto;
  margin-left: auto; }
  .container .box-hd {
    position: relative;
    height: 58px; }
    .container .box-hd .title {
      margin: 0;
      font-size: 22px;
      font-weight: 200;
      line-height: 58px;
      color: #333; }

/*# sourceMappingURL=_front.css.map */
